# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
/example/android/.gitignore
/example/android/app/src/debug/AndroidManifest.xml
/example/android/app/src/main/AndroidManifest.xml
/example/android/app/src/profile/AndroidManifest.xml
/example/android/app/build.gradle
/example/android/build.gradle
/example/android/gradle.properties
/example/android/gradle/wrapper/gradle-wrapper.properties
/example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/example/android/app/src/main/res/drawable/launch_background.xml
/example/android/app/src/main/res/drawable-v21/launch_background.xml
/example/android/app/src/main/kotlin/com/example/example/MainActivity.kt
/example/README.md
/example/android/settings.gradle
/example/android/app/src/main/res/values/styles.xml
/example/android/app/src/main/res/values-night/styles.xml
